body {
    font-family: sans-serif;
  }
  
  table {
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 0.5rem;
    border: 0.1px solid skyblue;
    text-align: center;
  }
  