.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("https://www.ilovepdf.com/storage/blog/153-1659686644-How-to-add-initials-to-a-PDF-form-or-contract.png");
    background-size: cover;
    background-position: center;
}

.login_container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 700px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.login_logo {
    display: flex;
    justify-content: center; 
    object-fit: cover;

}

.login_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.login_desc > p {
    color: skyblue;
    text-align: center;
    font-weight: 00;
    font-size: 20px;
}

.login_auth {
    justify-content: center;
    align-items: center;
    display: flex;
}

.login_emailPass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    flex: 0.5;
    margin-left: 20px;
}


.login_inputFields {
    display: flex;
    flex-direction: column;
    padding: 5px;
    position: relative;
    left: -85px;
    

}

.login_inputField {
    padding: 5px;
}

.login_inputField > input {
    padding: 10px;
    width: 150%;
    outline: none;
    border: none;
    background-color: rgb(236, 236, 236);
}

/* 로그인 */
.login_emailPass > button {
    padding: 9px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: skyblue;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-top: 30px;
}

.login_footer {
    padding: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}


.login_footer > p {
    color: skyblue;
    cursor: pointer;
    font-size: small;
}


.login_footer > p:hover {
    text-decoration: underline;
}