.receipt_search_box {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 1000px;
  height: 100%;
  border: 2px solid skyblue;
  padding: 5px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.receipt_search_box > input {
  background-color: transparent;
  outline: none;
  width: 1000px;
  border: none;
  color: rgb(49, 49, 49);
  margin-left: 5px;
}

.receipt_search_box > .MuiSvgIcon-root {
  color: skyblue;
}
